<template>
  <div>
    <GoalsList
        @enter-goal="enter"
        v-bind:goals="allGoals">
    </GoalsList>
  </div>
</template>

<script>
import GoalsList from "@/components/GoalsList";
import {mapGetters, mapMutations} from 'vuex'

export default {
  name: "AllGoals",
  methods: {
    enter(id) {
      this.enterGoal(id)
    },
    ...mapMutations(['enterGoal']),
  },
  computed: mapGetters(['allGoals']),

  components: {
    GoalsList,
  },

}
</script>

<style scoped>

</style>