<template>
  <GoalsList>
      @enter-goal="enterGoal"
      v-bind:goals="userGoals">
  </GoalsList>
</template>

<script>
import GoalsList from "@/components/GoalsList";

export default {
  name: "ClosedGoals",

  components: {
    GoalsList,
  },

  data: () => ({
    userGoals: []
  }),
}
</script>

<style scoped>

</style>