<template>
  <div class="login">
    <LoginCard></LoginCard>
  </div>
</template>

<script>
import LoginCard from "../components/LoginCard";

export default {
  name: "Register",
  components:{
    LoginCard
  }
}
</script>

<style scoped>
.login{
  background-color: #f0f2f5;
  height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
