<template>
  <GoalForm></GoalForm>
</template>

<script>
import GoalForm from "@/components/GoalForm";
export default {
  components: {GoalForm},
  name: "NewGoal.js",
}
</script>

<style scoped>

</style>