<template>
  <div class="register">
      <RegisterCard></RegisterCard>
  </div>
</template>

<script>
import RegisterCard from "../components/RegisterCard";

export default {
  name: "Register",
  components:{
    RegisterCard
  }
}
</script>

<style scoped>
.register{
  background-color: #f0f2f5;
  height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
