<template>
  <div class="mt-3">
    <v-container>
      <v-row justify="center">

        <router-link style="text-decoration: none" to="/goal/create">
        <v-btn
            x-large
            color="success"
            dark
        >
          Новая цель!
          <v-icon
              left
              dark
              class="ml-5"
          >
            mdi-check-bold
          </v-icon>
        </v-btn>
        </router-link>
      </v-row>
    </v-container>
    <GoalsList
        v-bind:goals="userGoals">
    </GoalsList>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'
import GoalsList from "@/components/GoalsList";

export default {
  name: "UserGoals",
  computed: mapGetters(['userGoals']),
  components: {
    GoalsList,
  },

}
</script>

<style scoped>

</style>