<template>
  <v-container fluid>
    <v-row justify="center">
      <v-card width="800px" class="mt-10 mb-15" elevation="8">
        <v-container fluid>
          <v-row align="center">
            <v-col cols="12">
              <v-card-title>Новая цель</v-card-title>
            </v-col>
            <v-col cols="4">
              <v-text-field
                  v-model="title"
                  :counter="50"
                  :rules="titleRules"
                  label="Цель:"
                  required
              ></v-text-field>
            </v-col>

            <v-col cols="12" content="">
              Приватность:
              <v-radio-group v-model="privateStatus">
                <v-radio
                    label="Публичная"
                    value="public"
                >
                </v-radio>

                <v-radio
                    label="Приватная"
                    value="private"
                >
                </v-radio>
              </v-radio-group>
            </v-col>


            <v-col cols="12">
              <v-textarea
                  filled
                  auto-grow
                  color="black"
                  label="Описание цели"
                  v-model="description"
              ></v-textarea>

            </v-col>
            <v-col cols="8">
              Ваша ставка:
              <v-slider
                  hint="Рейтинг"
                  max="100"
                  min="0"
                  thumb-label
                  ticks
                  v-model="bet"
              ></v-slider>
            </v-col>
            <v-col cols="5">
              Дата начала:
              <v-date-picker
                  header-color="light-blue"
                  class="mt-4"
                  v-model="dateStart"
              ></v-date-picker>
            </v-col>

            <v-col cols="5">
              Дата конца:
              <v-date-picker
                  v-model="dateEnd"
                  header-color="red"
                  class="mt-4"
              ></v-date-picker>
            </v-col>

            <v-col cols="12">
              <v-file-input
                  v-model="photos"
                  placeholder="Добавт фото"
                  label="Фото к цели"
                  multiple
                  prepend-icon="mdi-paperclip"
              >
                <template v-slot:selection="{ text }">
                  <v-chip
                      small
                      label
                      color="primary"
                  >
                    {{ text }}
                  </v-chip>
                </template>
              </v-file-input>
            </v-col>

            <v-col cols="12">
              <v-autocomplete
                  v-model="choosenTags"
                  :items="tags"
                  outlined
                  dense
                  chips
                  small-chips
                  label="Теги:"
                  multiple
              ></v-autocomplete>
            </v-col>
            <v-col>
              <v-btn
                  x-large
                  color="success"
                  class="mr-4"
                  @click="submit"
              >
                Создать
              </v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-row>
  </v-container>
</template>

<script>
import {mapActions} from 'vuex'

export default {
  name: "GoalForm",
  data: () => ({
    title: '',
    privateStatus: '',
    description: '',
    dateStart:'',
    dateEnd:'',
    bet:0,
    tags: ['Спорт', 'Учёба', 'Быт', 'Отношения'],
    choosenTags: [],
    photos: [],
    radioGroup: '',
    titleRules: [
      v => !!v || 'Заголовок цели необходим',
      v => (v && v.length <= 50) || 'Меньше 50 символов',
    ],
  }),
  methods: {
    submit() {
      const goal = {
        title: this.title,
        description: this.description,
        dateStart: this.dateStart,
        dateEnd: this.dateEnd,
        photos: this.photos,
        bet: this.bet,
        privateStatus: this.privateStatus,
      }
      console.log(this.privateStatus)
      console.log('dfd')
      this.createGoal(goal)
    },
    ...mapActions(['createGoal'])
  }
}
</script>

<style scoped>

</style>