<template>
  <div>
    <GoalCard class="mt-10"
              @enter-goal="enterGoal"
              v-for="(goal, i) in goals"
              :key="i"
              :goal="goal">
    </GoalCard>
  </div>
</template>

<script>
import GoalCard from "@/components/GoalCard";

export default {
  methods: {
    enterGoal(id){
      this.$emit('enter-goal', id)
    }
  },
  props: ['goals'],
  components: {GoalCard},
  name: "GoalsList"
}
</script>

<style scoped>

</style>