<template>
  <v-container>
    <v-row justify="space-around">
      <v-card width="800px"
          elevation="8">
        <v-container>
          <v-row>
            <v-avatar
                class="ma-2">
              <img
                  src="https://sun1-88.userapi.com/s/v1/ig2/Dp9FN5Vu_wHbM34maVSMB_F2SqmXsWQFCL95DN6etbj03gp8J5tqQQeLNzX4I6tPWy7GT4V_Uzb65uHftPXDhkLt.jpg?size=200x0&quality=95&crop=32,170,372,544&ava=1"
                  alt="John"
              >
            </v-avatar>

            <v-card-title>{{goal.title}}</v-card-title>

            <v-spacer></v-spacer>

            <v-menu
                bottom
                left
                dark
            >
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                    icon
                    v-bind="attrs"
                    v-on="on"
                    x-large
                >
                  <v-icon>mdi-dots-vertical</v-icon>
                </v-btn>
              </template>

              <v-list>
                <v-list-item
                    v-for="(item, i) in menu"
                    :key="i"
                >
                  <v-list-item-title>{{ item.title }}</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </v-row>
        </v-container>

        <v-container>
          <v-row>
            <v-col>
              <v-carousel
                  height="500px">
                <v-carousel-item
                    v-for="(item,i) in goal.photos"
                    :key="i"
                    :src="item.src"
                ></v-carousel-item>
              </v-carousel>

            </v-col>
          </v-row>
        </v-container>

          <v-card-text>
            {{ goal.text }}
          </v-card-text>

        <v-container>
          <v-row justify="center">
            <v-col>

              <v-chip
                  x-large
              >
                Start: {{ goal.startDate }}
              </v-chip>
              <v-chip
                  x-large
                  class="ml-8"
              >
                End: {{ goal.endDate }}
              </v-chip>
            </v-col>
          </v-row>
        </v-container>
        <v-divider></v-divider>
        <v-card-actions>
          <v-container>
            <v-row justify="space-around">
              <v-chip-group
                  active-class="deep-purple accent-4 white--text"
                  column
              >
                <v-chip
                    v-for="(item,i) in goal.tags"
                    :key="i"
                    :color=item.color
                    class="ma-2"
                >
                  {{ item.name }}
                </v-chip>
              </v-chip-group>

              <v-spacer></v-spacer>

              <v-btn
                  color="error"
                  elevation="8"
                  x-large
                  @click="$emit('enter-goal', goal.id)"
              >
                Присоедениться
              </v-btn>
            </v-row>
          </v-container>
        </v-card-actions>
      </v-card>
    </v-row>
  </v-container>
</template>

<script>
export default {
  methods:{
  },
  props:['goal'],
  data: () => ({
    menu: [
      {title: 'Hide'},
      {title: 'Later'}
    ]
  }),
}
</script>

<style lang="sass">
</style>