<template>
    <v-app-bar
        color="deep-purple accent-4"
        dark
        fixed
        app
    >
      <v-app-bar-nav-icon></v-app-bar-nav-icon>

      <v-toolbar-title><b>MyMotivation</b></v-toolbar-title>

      <v-spacer></v-spacer>

      <router-link style="text-decoration: none" to="/goals">
      <v-btn
          color="red">
        <v-icon>mdi-flag-checkered</v-icon>
        Все цели
      </v-btn>
      </router-link>

      <router-link style="text-decoration: none" to="/goals/my">
      <v-btn
          class="ml-4"
          color="red">
        <v-icon>mdi-account</v-icon>
        Мои цели
      </v-btn>
      </router-link>

        <v-btn
          class="ml-4"
          color="red">
        <v-icon class="mr-1">mdi-close-circle-outline</v-icon>
        Завершённые
      </v-btn>

      <v-spacer></v-spacer>

      <v-btn icon>
        <v-icon>mdi-cog</v-icon>
      </v-btn>

      <v-chip
          class="ma-2"
          color="success"
      >
        <v-icon left>
          mdi-star-circle
        </v-icon>
        10340
      </v-chip>



      <v-avatar
          class="ma-4">
        <img
            src="https://sun1-88.userapi.com/s/v1/ig2/Dp9FN5Vu_wHbM34maVSMB_F2SqmXsWQFCL95DN6etbj03gp8J5tqQQeLNzX4I6tPWy7GT4V_Uzb65uHftPXDhkLt.jpg?size=200x0&quality=95&crop=32,170,372,544&ava=1"
            alt="John"
        >
      </v-avatar>

    </v-app-bar>
</template>

<script>
export default {
  name: "Header"
}
</script>

<style scoped>

</style>