<template>
  <div class="register__form">
    <span class="label">Login</span>
    <v-alert
        v-if="getAuthError"
        elevation="2"
        outlined
        type="error"
    >
      {{ getAuthError }}
    </v-alert>
    <v-form
        ref="form"
        v-model="valid"
        lazy-validation
    >
      <v-text-field
          v-model="email"
          :rules="emailRules"
          label="E-mail"
          required
      ></v-text-field>

      <v-text-field
          v-model="password"
          :rules="passwordRules"
          label="Password"
          required
      ></v-text-field>
      <div class="actions">
        <v-btn large
               :disabled="!valid"
               color="success"
               class="mr-4"
               @click.prevent="validate"
        >
          Post
        </v-btn>

        <span class="toRegister"><router-link to='/register'>Create account</router-link></span>
      </div>
    </v-form>
  </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'

export default {
  data: () => ({
    valid: true,
    email: '',
    emailRules: [
      v => !!v || 'E-mail is required',
      v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
    ],
    password: '',
    passwordRules: [
      v => !!v || 'Password is required',
      v => (v && v.length >= 5) || 'Password must be more than 5 characters',
    ],
  }),
  computed: mapGetters(['getAuthError', 'isAuth', 'getToken']),
  watch: {
    isAuth: function (auth) {
      if (auth === true) {
        this.$router.push('/goals')
      }
    },
    getToken: function (token) {
      this.$cookie.set("session_id", token, "expiring time")
    }
  },
  methods: {
    ...mapActions(['login']),
    validate() {
      this.valid = this.$refs.form.validate()
      if (this.valid) {
        this.login({
          login: this.email,
          password: this.password,
        })
      }
    },
  },
}
</script>

<style scoped>
.register__form {
  width: 30vw;
  min-width: 415px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px #00000040;
}

.label {
  font-size: 22px;
  display: block;
  margin-bottom: 10px;
}

.toRegister {
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
  margin-left: auto;
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}
</style>
