<template>
  <div class="register__form">
    <span class="label" >Register</span>
    <v-alert
        v-if="getRegisterError"
        elevation="2"
        outlined
        type="error"
    >
      {{getRegisterError}}
    </v-alert>
    <v-form
        ref="form"
        v-model="valid"
        lazy-validation
    >
      <v-text-field
          v-model="email"
          :rules="emailRules"
          label="E-mail"
          required
      ></v-text-field>

      <v-text-field
          v-model="password"
          :rules="passwordRules"
          label="Password"
          required
      ></v-text-field>

      <v-text-field
          v-model="passwordRepeat"
          :rules="[(password === passwordRepeat) || 'Password must be match']"
          label="Password repeat"
          required
      ></v-text-field>

      <v-text-field
          v-model="firstName"
          :counter="10"
          :rules="nameRules"
          label="Firstname"
          required
      ></v-text-field>

      <v-text-field
          v-model="lastName"
          :counter="10"
          :rules="nameRules"
          label="Lastname"
          required
      ></v-text-field>

      <v-btn large
          :disabled="!valid"
          color="success"
          class="mr-4"
          @click.prevent="validate"
      >
        Post
      </v-btn>
    </v-form>
  </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'
export default {
  data: () => ({
    valid: true,
    firstName: '',
    lastName: '',
    nameRules: [
      v => !!v || 'Name is required',
      v => (v && v.length <= 10) || 'Name must be less than 10 characters',
    ],
    email: '',
    emailRules: [
      v => !!v || 'E-mail is required',
      v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
    ],
    password: '',
    passwordRules: [
      v => !!v || 'Password is required',
      v => (v && v.length >= 5) || 'Password must be more than 5 characters',
    ],
    passwordRepeat:'',
  }),
  computed : mapGetters(['getRegisterError', 'isRegister']),
  watch: {
    isRegister: function (auth) {
      if(auth === true) {
        this.$router.push('/login')
      }
    }
  },
  methods: {
    ...mapActions(['register']),
    validate() {
      this.valid = this.$refs.form.validate()
      if( this.valid ) {
        this.register({
          firstName : this.firstName,
          lastName : this.lastName,
          login : this.email,
          password: this.password,
        })
      }
    },
  },
}
</script>

<style scoped>
.register__form {
  width: 30vw;
  min-width: 415px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px #00000040;
}
.label{
  font-size: 22px;
  display: block;
  margin-bottom: 10px;
}
</style>
