<template>
  <v-app>
    <Header></Header>
    <v-main style="background-color: #f0f2f5">

      <!-- Provides the application the proper gutter -->
      <v-container fluid>

        <!--        v-bind:todos="filteredTodos"-->
        <router-view></router-view>
      </v-container>
    </v-main>

  </v-app>
</template>

<script>
import Header from "@/components/Header";
import {allGoalsFake} from './fakeData'

export default {
  name: 'App',

  methods: {
    enterGoal(id) {
      this.userGoals.push(this.allGoals.filter(g => g.id === id))
      this.allGoals = this.allGoals.filter(g => g.id !== id)
      console.log(this.userGoals)
    }
  },

  components: {
    Header,
  },

  data: () => ({
    allGoals: allGoalsFake,
    userGoals: [],
    userEndGoals: [],
    isAuthorize: false,
  }),

};
</script>

<style>
</style>
